@import url(modules/default.css);
@import url(modules/login_form.css);
@import url(modules/register_detail_questions.css);

main
{
    min-height: 100vH;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-size: cover;
    background-position: center;
}