@import url(modules/default.css);
@import url(modules/friendzone.css);
@import url(modules/header.css);
@import url(modules/feed.css);

body
{
    display: flex;
    height: 100vH;
    width: 100%;
    background-color: #f2fff4;
}

    main
    {
        flex: 4;
    }