@import url(modules/mod_default.css);
@import url(modules/mod_login.css);
@import url(modules/mod_2FA.css);

body
{
    width: 100%;
    height: 100vH;
    overflow-y: scroll;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}