.feed
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 5%;
    align-items: center;
    overflow-y: scroll;
}

    .feed::-webkit-scrollbar
    {
        display: none;
    }

    .feed .post
    {
        padding: 1rem;
        box-shadow: -0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.2);
        border-radius: 0.5rem;
        background-color: #fff;

        max-width: 700px;
        width: 100%;
    }

        .feed .post .header
        {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-bottom: 1rem;
        }

            .feed .post .header img
            {
                width: 4rem;
                border-radius: 50%;
            }

            .feed .post .header .group
            {
                font-weight: 800;
                font-size: 1.2rem;
            }

            .feed .post .header .meta
            {
                display: flex;
                align-items: center;
                gap: 0.5rem;
            }

                .feed .post .header .meta .name
                {
                    font-weight: 500;
                }

        .feed .post .content
        {
            font-weight: 300;
            font-size: 1.1rem;
            line-height: 1.6rem;
        }

        .feed .post .action-bar
        {
            display: flex;
            align-items: center;
            gap: 1rem;
            margin-top: 1rem;
        }

            .feed .post .action-bar button
            {
                background: rgba(0, 0, 0, 0.1);
                border: none;
                font-weight: 600;
                color: rgba(0, 0, 0, 0.7);
                font-size: 1rem;
                padding: 0.5rem 1rem;
                cursor: pointer;
                border-radius: 5rem;
                transition: all 0.25s;
            }

                .feed .post .action-bar button:hover
                {
                    background: var(--color-accent);
                    color: #fff;
                }