.filter
{
    display: flex;
    justify-content: space-between;
    padding: 1rem 5%;
    gap: 1rem;
}

    .filter .button_filter
    {
        padding: 0.5rem 1rem;
        font-family: var(--font-primary);
        border: none;
        border-radius: 50rem;
        flex: 1;
        cursor: pointer;
        background: transparent;
    }

        .filter .button_filter.active
        {
            background: var(--color-accent);
            color: white;
        }