footer
{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 5%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    gap: 0.5rem;
    z-index: 100;
}

    footer .item
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 0.25rem;

        color: #000;
        text-decoration: none;
        font-size: 0.9rem;
    }

    footer .item.active
    {
        color: var(--color-accent);
    }

        footer .item.active img
        {
            position: relative;
            filter: var(--black-to-accent-filter);
        }