.friendzone
{
    flex: 1;
    background-color: rgba(0, 0, 0, 0.05);
    padding: 2rem 1rem;
    min-width: 300px;
}

    .friendzone h2
    {
        font-weight: 300;
    }

    .friendzone ul
    {
        list-style: none;
        width: 100%;
        padding: 1rem 0;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
    }

        .friendzone ul li
        {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 0.5rem;
            padding: 0.5rem;
            background-color: #fff;
            border-radius: 0.5rem;
            border-left: 10px solid rgba(0, 0, 0, 0.2);
            transition: transform 0.25s;
            user-select: none;
            width: 100%;
        }

            .friendzone ul li:hover
            {
                transform: scale(1.05);
            }

            .friendzone ul li .container
            {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 0.5rem;
            }

            .friendzone ul li .pet
            {
                font-style: italic;
                font-size: 0.8rem;
            }

            .friendzone ul li img
            {
                width: 2rem;
                border-radius: 50%;
            }

            .friendzone ul li button
            {
                background-color: var(--color-accent);
                padding: 0.5rem 1rem;
                border: none;
                border-radius: 5rem;
                color: #fff;
                cursor: pointer;
                opacity: 0.8;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: opacity 0.25s;
            }

                .friendzone ul li button img
                {
                    width: 1rem;
                }

                .friendzone ul li button:hover
                {
                    opacity: 1;
                }