.side-nav
{
    padding: 2rem 1rem;
    max-width: 300px;
    flex: 1;    
    height: 100%;
    display: flex;
    flex-direction: column;

    border-right: 2px solid rgba(var(--color-text), 0.1);

    @media only screen and (max-width: 768px)
    {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        background-color: #000;
        transform: translateX(-100%);
        transition: 0.3s transform;

        flex-direction: column;
    }
}

    .side-nav.mobile-show
    {
        transform: translateX(0);
    }

    .side-nav h1
    {
        font-weight: 200;
        margin-bottom: 2rem;
        padding: 0.5rem;
        font-size: 2rem;
    }

    .side-nav ul
    {
        list-style: none;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
    }

        .side-nav ul a
        {
            text-decoration: none;
            color: rgb(var(--color-text));
        }

        .side-nav ul li
        {
            display: flex;
            align-items: center;
            gap: 1rem;
            width: 100%;
            padding: 0.5rem;
            font-size: 1.1rem;
            border-radius: 0.5rem;
            transition: background-color 0.2s;
        }

            .side-nav ul li:hover
            {
                background-color: rgba(var(--color-text), 0.1);
            }

            .side-nav ul li img
            {
                height: 2rem;
            }

    .side-nav .button-setting
    {
        background: transparent;
        border: none;
        cursor: pointer;
        padding: 0.5rem;

    }

        .side-nav .button-setting img
        {
            height: 2rem;
        }