.post-form
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(5px);

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: rgba(var(--color-text), 0.1);
}

    .post-form.hidden
    {
        display: none;
    }

    .post-form .form
    {
        background-color: #000;
        width: 80%;
        min-width: 300px;
        max-width: 700px;
        border-radius: 0.5rem;
    }

        .post-form .form .header
        {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding: 0.5rem 1rem;
            background-color: rgba(var(--color-text), 0.1);
            border-radius: 0.5rem 0.5rem 0 0;
        }

            .post-form .form .header img
            {
                height: 2rem;
            }

            .post-form .form .header .username
            {
                font-weight: 300;
            }

            .post-form .form .header .select
            {
                padding: 0.5rem 1rem;
                background-color: rgba(var(--color-text), 0.1);
                color: rgb(var(--color-text));
                border: none;
                border-radius: 5rem;
                outline: none;
            }

                .post-form .form .header option
                {
                    color: #000;
                }

        .post-form .form textarea
        {
            width: 100%;
            height: 250px;
            background: transparent;
            padding: 1rem;
            font-family: var(--font-primary);
            font-size: 1.3rem;
            border: none;
            color: rgb(var(--color-text));
            outline: none;
            resize: none;
            line-height: 2rem;
        }

            .post-form .form .buttons
            {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                padding: 1rem;
            }

            .post-form .form .button-submit
            {
                padding: 0.5rem 2rem;
                background-color: var(--color-accent);
                color: #fff;
                border: none;
                border-radius: 0.5rem;
                cursor: pointer;
                font-family: var(--font-primary);
            }

            .post-form .form .button-cancel
            {
                padding: 0.5rem 1rem;
                background-color: transparent;
                color: rgba(var(--color-text), 0.5);
                border: none;
                cursor: pointer;
            }