.post-form
{
    margin: 1rem auto;
    width: 100%;
    max-width: 700px;
    background: #fff;
    border-radius: 0.5rem;
    padding: 1rem;
}

    .post-form .header
    {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

        .post-form .header img
        {
            width: 3rem;
            aspect-ratio: 1;
            border-radius: 50%;
        }

        .post-form .header .name
        {
            font-weight: 600;
        }

        .post-form .header .selects
        {
            padding-top: 0.25rem;
        }

        .post-form .header select
        {
            padding: 0.25rem 0.5rem;
            border-radius: 3rem;
            width: 100px;
            background-color: rgba(0, 0, 0, 0.1);
            border: none;
            outline: none;
        }

    .post-form textarea
    {
        font-family: var(--font-primary);
        width: 100%;
        padding: 1rem;
        outline: none;
        border: none;
        font-size: 1.2rem;
        height: 200px;
        resize: none;
    }

    .post-form button.button_post
    {
        width: 100%;
        padding: 1rem 1rem;
        background-color: var(--color-accent);
        color: #fff;
        border-radius: 0.5rem;
        cursor: pointer;
        border: none;
        font-weight: 600;
        font-size: 0.9rem;
    }